body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

.icon {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  margin: 0em;
  color: white;
}

.adv_search {
  position: absolute;
  top: 3em;
  left: 2em;
  margin: 0em;
  color: orange;
}

nav {
  display: flex;
  justify-content: right;
  height: 5em;
  background-color: rgb(83, 77, 77);
}

.nav_link {
  padding: 1em;
}

.nav_link:link {
  color: white;
  text-decoration: none;
}

.nav_link:visited {
  color: white;
  text-decoration: none;
}

.nav_link:hover {
  color: white;
  text-decoration: underline;
}

.nav_link:active {
  color: white;
  text-decoration: underline;
}

div.main {
  height: 4rem;
  width: 40rem;
  display: flex;
  align-items: center;
  position: relative;
  left: 4rem;
}

div.main + div.main {
  font-size: .9rem;
  height: 1.5rem;
  margin-top: 1rem;
  justify-content: space-between;
}

input[type="text"] {
  width: 70%;
}

div.main:last-of-type {
  flex-direction: row-reverse;
}

.submit_input, .submit_input:focus {
  background-color: #3079ed;
  color: white;
  border: solid 1px #3079ed;
  border-radius: .25rem;
  padding: .25rem;
  cursor: default;
  min-width: 7.5rem;
  font-weight: bold;
  font-size: .75rem;
}

.submit_input:focus, .submit_input:hover {
  background-color: #8ab4f8;
}